In [18]:
import pandas as pd
from sqlalchemy import create_engine
from IPython.display import Markdown
from md2pdf.core import md2pdf
import re
import markdown

engine = create_engine('postgresql://streamlit:postgres@localhost:5432/streamlit')

In [19]:
# ssh -F ~/workspaces/vidio/skilla/provisioning/ssh-prod-vpn.cfg herbert.abdillah@10.251.0.100 -N -L 8086:localhost:5432
%load_ext sql
%sql postgresql://streamlit:postgres@localhost:5432/streamlit

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
%%sql
select * from flat_chat order by id desc limit 1

 * postgresql://streamlit:***@localhost:5432/streamlit
1 rows affected.

[(735, datetime.datetime(2024, 3, 15, 7, 47, 25, 181229), 46808216, 'fddc2a18-186e-415b-8e4b-0c2749561514', 'apakah bisa nonton anime di vidio', 'Wah, pertanyaan bagus! Namun saat ini, fokus saya membantu kamu menemukan film dan series terbaik.\n\nBerdasarkan film & series yang kamu tonton sebe ... (2462 characters truncated) ... ilters:quality(75)/vidio-web-prod-film/uploads/film/image_portrait/6075/dw-english-europe-to-the-max-7e81f1.jpg)](https://www.vidio.com/premier/6075)', '')]

In [21]:
df = pd.read_sql("""
    select
        min(id) over (partition by visit_id) as session_id,user_id, time + interval '7' hour AS datetime, query, response
    from flat_chat
    where time >= timestamp '2024-03-15' - interval '7' hour
    and time < timestamp '2024-03-16' - interval '7' hour
    order by session_id desc, id asc
""", engine)
df

,session_id,user_id,datetime,query,response
0,715,30220883,2024-03-15 14:39:13.151664,laper nih,"Maaf, saya tidak dapat menjawab pertanyaan itu..."
1,715,30220883,2024-03-15 14:39:32.043090,saya bosan ingin menonton,* Judul: **Doa Mengancam**\n\n Kenapa kamu su...
2,715,30220883,2024-03-15 14:39:46.408115,gw lagi pengen nonton horror,* Judul: **Sleep**\n\n Kenapa kamu suka: Film...
3,715,30220883,2024-03-15 14:40:02.970362,gw lagi pengen lucu,* Judul: **Gila Lu Ndro!**\n\n Kenapa kamu su...
4,715,30220883,2024-03-15 14:40:17.316280,yang xedih,* Judul: **D'Academy Asia 6**\n\n Kenapa kamu...
...,...,...,...,...,...
582,152,30398538,2024-03-15 07:58:06.810311,"No, give me the Original Series","Wah, pertanyaan bagus! Namun saat ini, fokus s..."
583,152,30398538,2024-03-15 07:58:56.047107,Please give me trending Vidio Original Series,"Wah, pertanyaan bagus! Namun saat ini, fokus s..."
584,149,85126055,2024-03-15 07:47:29.145492,rekomendasikan film dengan mood saya yang seda...,"Maaf, tampaknya ada kesalahan sistem yang tida..."
585,149,85126055,2024-03-15 07:47:47.449217,mood saya sedang sedih,Maaf mendengar kabar suasana hatimu sedang tid...
586,149,85126055,2024-03-15 07:48:27.882082,rekomendasikan film karena saya sedang sedih,"Maaf, tampaknya ada kesalahan sistem yang tida..."

In [22]:
df_with_image = df.copy()
# df["response"] = df["response"].apply(lambda x: re.sub('\\n+', '\\n', re.sub("!\[.*\)","",re.sub("\[!\[.*\)","", x))))
df["response"] = df["response"].apply(lambda x: re.sub("!\[.*\)","",re.sub("\[!\[.*\)","", x)))

In [23]:
def get_all_markdown(df):
    all_conv = []
    for name, group in df.groupby("session_id"):
        session_id = group["session_id"].values[0]
        user_id = group["user_id"].values[0]
        conv = f"# {session_id}: User {user_id}\n"
        curr = ""
        for index, row in group.iterrows():
            curr = f"## {row['time']}: {row['query']}"
            curr = curr + f"\n{row['response']}"
            conv = conv + curr + "\n"
        all_conv.append(conv)

    all_conv_text = ""
    for conv in reversed(all_conv):
        all_conv_text = all_conv_text + conv + "\n"

    return all_conv_text

In [25]:
df.to_excel("./data/history.xlsx")
# md2pdf("./data/history.pdf", get_all_markdown(df))

In [141]:


with open(f'./data/history.html', 'w+') as f:
    style = "<style>img{width:100px;}body{max-width:900px;margin:auto;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;}</style>"
    f.write(style + markdown.markdown(get_all_markdown(df_with_image)))