In [1]:
import pandas as pd
import numpy as np
from tqdm._tqdm_notebook import tqdm_notebook
from sentence_transformers import SentenceTransformer


tqdm_notebook.pandas()

model = SentenceTransformer("all-mpnet-base-v2")

def embedding_text(model, text):
    vector = model.encode(text)
    return vector

/tmp/ipykernel_1532480/1463778267.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tqdm_notebook

modules.json:   0%|          | 0.00/349 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/116 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/10.6k [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/571 [00:00<?, ?B/s]

pytorch_model.bin:   0%|          | 0.00/438M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/363 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [2]:
df = pd.read_excel('data/search_ground_truth.xlsx')
df.tail()

/home/tito/.venv/genai_hackathon_2024/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                  query query_type  content_id  total_click  position  score
15704       yumis cells     search        9572           64         1      1
15705            zombie     search        1838          261         1      3
15706            zombie     search        8948          197         2      2
15707            zombie     search        2466          194         3      1
15708  zombie detective     search        1838           71         1      1

In [3]:
film_df = pd.read_json('data/film_metadata.json', lines=True)
film_df['id'] = film_df['id'].astype(str)
film_df['embedding'] = film_df.progress_apply(lambda x: embedding_text(model, x['search_text']), axis=1)
film_df.head()

  0%|          | 0/5771 [00:00<?, ?it/s]

,id,description,release_date,total_watchers,age_rating,image_portrait,content_url,image_url,title,group_l1,group_l2,genres,actors,directors,country,release_year,popularity,search_text,embedding
0,9372,Lasja mendapati suami dan ayahnya terlibat dal...,2024-01-27,393890,18 or more,ratu-adil-57125a.jpg,https://www.vidio.com/premier/9372,https://thumbor.prod.vidiocdn.com/xXSubtNx3jiO...,ratu adil,series,vidio original,"action, crime, drama","abdurrahman arif, andri mashadi, budi ros, dia...","ginanti rona, tommy dewo",indonesia,2024,trending,title: ratu adil\ndescription: Lasja mendapati...,"[0.030466655, 0.018408641, 0.012963527, 0.0011..."
1,9456,Kehidupan sempurna Amara hancur karena malam p...,2024-01-27,340919,18 or more,cinta-pertama-ayah-66e828.jpg,https://www.vidio.com/premier/9456,https://thumbor.prod.vidiocdn.com/ZONjpNuq_CcE...,cinta pertama ayah,series,vidio original,"crime, drama, family, mystery","aisha nurra datau, al ghazali, dwi sasono, ers...",hadrah daeng ratu,indonesia,2024,trending,title: cinta pertama ayah\ndescription: Kehidu...,"[0.048275698, 0.0023676585, 0.005258224, -0.01..."
2,7617,Menceritakan kisah seorang gadis bernama Sakin...,2023-03-13,305402,13 or more,bidadari-surgamu-2bbb68.jpg,https://www.vidio.com/premier/7617,https://thumbor.prod.vidiocdn.com/JxL1jUZmTFdc...,bidadari surgamu,series,tv sinetron,"drama, family, religi, romance","josephine firmstone, michelle joan, rizky naza...",anurag vaishnav,indonesia,2023,trending,title: bidadari surgamu\ndescription: Mencerit...,"[0.04674258, 0.010911187, -0.0026938717, -0.01..."
3,7576,"Naura (Basmalah), Rahsya (Raden Rakha), Adara ...",2023-02-23,263464,13 or more,magic-5-def33f.jpg,https://www.vidio.com/premier/7576,https://thumbor.prod.vidiocdn.com/kha0tcadN-wD...,magic 5,series,tv sinetron,"drama, fantasy, friendship","afan da5, basmalah, eby da 5, raden rakha, sri...","a. septian, bobby moeryawan, sondang pratama, ...",indonesia,2023,trending,"title: magic 5\ndescription: Naura (Basmalah),...","[0.075597435, -0.020434327, -0.0043219486, 0.0..."
4,9535,Alya dan Alyssa adalah anak kembar yang terpis...,2024-01-22,213724,13 or more,tertawan-hati-592778.jpg,https://www.vidio.com/premier/9535,https://thumbor.prod.vidiocdn.com/sXZL0cyvwRdI...,tertawan hati,series,tv sinetron,"drama, romance","afifah ifah'nda, jonas rivanno, naysilla mirda...",sanjeev ram kishan,indonesia,2024,trending,title: tertawan hati\ndescription: Alya dan Al...,"[0.056908004, -0.03546402, -0.01631646, -0.015..."

In [4]:
joined_df = df.merge(film_df[['id', 'search_text', 'embedding']], left_on='query', right_on='id', how='left')
joined_df.drop(columns=['id'], inplace=True)
joined_df['search_text'] = np.where(joined_df['query_type'] == 'search', joined_df['query'], joined_df['search_text'])

In [5]:
trial_df = joined_df[joined_df['query_type'] != 'film_id'].head()

In [6]:
trial_df['embedding'] = trial_df.progress_apply(lambda x: embedding_text(model, x['search_text']), axis=1)
trial_df

  0%|          | 0/5 [00:00<?, ?it/s]

,query,query_type,content_id,total_click,position,score,search_text,embedding
930,172 days,search,7337,119,1,1,172 days,"[-0.008678603, 0.059717912, -0.000861733, -0.0..."
1087,18 again,search,1855,355,1,1,18 again,"[-0.017940085, -0.01798149, -0.004869246, -0.0..."
1416,1988,search,69,94,1,1,1988,"[-0.009640407, 0.075423844, 0.008055227, -0.02..."
1423,2012,search,7752,210,1,1,2012,"[0.025621701, 0.10380048, -0.03159704, -0.0195..."
2974,3 semprul,search,710,158,1,1,3 semprul,"[0.017573256, -0.06630359, 0.0037033963, -0.01..."

In [7]:
# slow operation
joined_df['embedding'] = joined_df.progress_apply(lambda x: embedding_text(model, x['search_text']) if x['query_type'] == 'search' else x['embedding'], axis=1)

  0%|          | 0/15709 [00:00<?, ?it/s]

In [8]:
joined_df = joined_df.dropna(subset=['search_text', 'embedding'])

In [9]:
from annoy import AnnoyIndex
annoy_index = AnnoyIndex(768, 'dot')
for index, row in film_df.iterrows():
    annoy_index.add_item(int(row['id']), row['embedding'])
annoy_index.build(30)

def retrieve_by_embedding(embedding):
    if len(embedding) > 0:
        return annoy_index.get_nns_by_vector(embedding, 20, search_k=-1)
    else:
        return []

In [10]:
trial_df['search_result'] = trial_df.progress_apply(lambda x: retrieve_by_embedding(x['embedding']), axis=1)
trial_df

  0%|          | 0/5 [00:00<?, ?it/s]

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result
930,172 days,search,7337,119,1,1,172 days,"[-0.008678603, 0.059717912, -0.000861733, -0.0...","[4771, 8415, 6038, 7960, 7982, 8764, 4877, 576..."
1087,18 again,search,1855,355,1,1,18 again,"[-0.017940085, -0.01798149, -0.004869246, -0.0...","[8892, 8154, 7228, 9158, 7343, 4490, 5622, 576..."
1416,1988,search,69,94,1,1,1988,"[-0.009640407, 0.075423844, 0.008055227, -0.02...","[2803, 1272, 8406, 4840, 2976, 9558, 2507, 896..."
1423,2012,search,7752,210,1,1,2012,"[0.025621701, 0.10380048, -0.03159704, -0.0195...","[8406, 6281, 7992, 9483, 9159, 9079, 1622, 945..."
2974,3 semprul,search,710,158,1,1,3 semprul,"[0.017573256, -0.06630359, 0.0037033963, -0.01...","[5195, 6526, 6971, 7681, 4850, 6719, 6442, 422..."

In [11]:
joined_df['search_result'] = joined_df.progress_apply(lambda x: retrieve_by_embedding(x['embedding']), axis=1)

  0%|          | 0/15623 [00:00<?, ?it/s]

In [12]:
joined_df.head()

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result
0,1003,film_id,1027,93,1,3,title: hot young bloods\ndescription: Berlatar...,"[0.048336655, -0.064458214, 0.024815379, 0.001...","[1003, 5654, 5179, 9364, 8471, 8290, 997, 8892..."
1,1003,film_id,1559,54,2,2,title: hot young bloods\ndescription: Berlatar...,"[0.048336655, -0.064458214, 0.024815379, 0.001...","[1003, 5654, 5179, 9364, 8471, 8290, 997, 8892..."
2,1003,film_id,831,46,3,1,title: hot young bloods\ndescription: Berlatar...,"[0.048336655, -0.064458214, 0.024815379, 0.001...","[1003, 5654, 5179, 9364, 8471, 8290, 997, 8892..."
3,1011,film_id,999,5,1,3,title: the fatal encounter\ndescription: Usaha...,"[0.100653335, -0.009118664, 0.010335099, -0.00...","[1011, 4675, 997, 7757, 6635, 993, 9130, 8263,..."
4,1011,film_id,2329,3,2,2,title: the fatal encounter\ndescription: Usaha...,"[0.100653335, -0.009118664, 0.010335099, -0.00...","[1011, 4675, 997, 7757, 6635, 993, 9130, 8263,..."

In [13]:
def is_true_positive(row):
    return 1 if row['content_id'] in row['search_result'] else 0

In [14]:
joined_df['is_tp'] = joined_df.progress_apply(is_true_positive, axis=1)

  0%|          | 0/15623 [00:00<?, ?it/s]

In [15]:
joined_df[['is_tp']].describe()

              is_tp
count  15623.000000
mean       0.161621
std        0.368114
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [19]:
joined_df[joined_df['query'] == 'ratu adil']

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result,is_tp
15450,ratu adil,search,9372,2683,1,3,ratu adil,"[0.0027797557, 0.015359388, 0.0041601295, -0.0...","[9372, 6527, 6598, 4945, 4566, 6435, 4819, 510...",1
15451,ratu adil,search,1756,162,2,2,ratu adil,"[0.0027797557, 0.015359388, 0.0041601295, -0.0...","[9372, 6527, 6598, 4945, 4566, 6435, 4819, 510...",0
15452,ratu adil,search,5421,146,3,1,ratu adil,"[0.0027797557, 0.015359388, 0.0041601295, -0.0...","[9372, 6527, 6598, 4945, 4566, 6435, 4819, 510...",0

In [17]:
film_df[film_df['id'] == '3426']

,id,description,release_date,total_watchers,age_rating,image_portrait,content_url,image_url,title,group_l1,group_l2,genres,actors,directors,country,release_year,popularity,search_text,embedding
287,3426,Peter Parker menyeimbangkan hidupnya sebagai s...,2017-07-07,1739,13 or more,spider-man-homecoming-e4b5ed.jpg,https://www.vidio.com/premier/3426,https://thumbor.prod.vidiocdn.com/TBeIDDTwf35r...,spider-man: homecoming,movies,western,"action, adventure, comedy, fantasy, sci-fi","marisa tomei, michael keaton, robert downey jr...",jon watts,western,2017,average,title: spider-man: homecoming\ndescription: Pe...,"[0.0032585568, 0.0013862681, -0.016720943, -0...."

In [18]:
joined_df.drop(columns=['search_result', 'is_tp']).to_json('data/benchmark_mpnet.json', orient='records', lines=True)