In [1]:
import pandas as pd
import numpy as np
from tqdm._tqdm_notebook import tqdm_notebook
from sentence_transformers import SentenceTransformer


tqdm_notebook.pandas()

model = SentenceTransformer("firqaaa/indo-sentence-bert-base")

def embedding_text(model, text):
    vector = model.encode(text)
    return vector

/tmp/ipykernel_11640/992287249.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tqdm_notebook
The cache for model files in Transformers v4.22.0 has been updated. Migrating your old cache. This is a one-time only operation. You can interrupt this and resume the migration later on by calling `transformers.utils.move_cache()`.

0it [00:00, ?it/s]

modules.json:   0%|          | 0.00/229 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/118 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/4.88k [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/1.10k [00:00<?, ?B/s]

pytorch_model.bin:   0%|          | 0.00/498M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/551 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/229k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/709k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/125 [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [2]:
df = pd.read_excel('data/search_ground_truth.xlsx')
df.tail()

/home/tito/.venv/genai_hackathon_2024/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                  query query_type  content_id  total_click  position  score
15704       yumis cells     search        9572           64         1      1
15705            zombie     search        1838          261         1      3
15706            zombie     search        8948          197         2      2
15707            zombie     search        2466          194         3      1
15708  zombie detective     search        1838           71         1      1

In [3]:
film_df = pd.read_json('data/film_metadata.json', lines=True)
film_df['id'] = film_df['id'].astype(str)
film_df['embedding'] = film_df.progress_apply(lambda x: embedding_text(model, x['search_text']), axis=1)
film_df.head()

  0%|          | 0/5771 [00:00<?, ?it/s]

,id,description,release_date,total_watchers,age_rating,image_portrait,content_url,image_url,title,group_l1,group_l2,genres,actors,directors,country,release_year,popularity,search_text,embedding
0,9372,Lasja mendapati suami dan ayahnya terlibat dal...,2024-01-27,393890,18 or more,ratu-adil-57125a.jpg,https://www.vidio.com/premier/9372,https://thumbor.prod.vidiocdn.com/xXSubtNx3jiO...,ratu adil,series,vidio original,"action, crime, drama","abdurrahman arif, andri mashadi, budi ros, dia...","ginanti rona, tommy dewo",indonesia,2024,trending,title: ratu adil\ndescription: Lasja mendapati...,"[-1.1329925, 1.0779365, 0.1024379, -0.46406662..."
1,9456,Kehidupan sempurna Amara hancur karena malam p...,2024-01-27,340919,18 or more,cinta-pertama-ayah-66e828.jpg,https://www.vidio.com/premier/9456,https://thumbor.prod.vidiocdn.com/ZONjpNuq_CcE...,cinta pertama ayah,series,vidio original,"crime, drama, family, mystery","aisha nurra datau, al ghazali, dwi sasono, ers...",hadrah daeng ratu,indonesia,2024,trending,title: cinta pertama ayah\ndescription: Kehidu...,"[-0.72621626, 0.34588635, 0.5074719, -0.377613..."
2,7617,Menceritakan kisah seorang gadis bernama Sakin...,2023-03-13,305402,13 or more,bidadari-surgamu-2bbb68.jpg,https://www.vidio.com/premier/7617,https://thumbor.prod.vidiocdn.com/JxL1jUZmTFdc...,bidadari surgamu,series,tv sinetron,"drama, family, religi, romance","josephine firmstone, michelle joan, rizky naza...",anurag vaishnav,indonesia,2023,trending,title: bidadari surgamu\ndescription: Mencerit...,"[-0.6252087, 0.62401366, 1.0615565, -0.8878016..."
3,7576,"Naura (Basmalah), Rahsya (Raden Rakha), Adara ...",2023-02-23,263464,13 or more,magic-5-def33f.jpg,https://www.vidio.com/premier/7576,https://thumbor.prod.vidiocdn.com/kha0tcadN-wD...,magic 5,series,tv sinetron,"drama, fantasy, friendship","afan da5, basmalah, eby da 5, raden rakha, sri...","a. septian, bobby moeryawan, sondang pratama, ...",indonesia,2023,trending,"title: magic 5\ndescription: Naura (Basmalah),...","[-0.12616773, 0.20779172, 0.7576035, -1.459994..."
4,9535,Alya dan Alyssa adalah anak kembar yang terpis...,2024-01-22,213724,13 or more,tertawan-hati-592778.jpg,https://www.vidio.com/premier/9535,https://thumbor.prod.vidiocdn.com/sXZL0cyvwRdI...,tertawan hati,series,tv sinetron,"drama, romance","afifah ifah'nda, jonas rivanno, naysilla mirda...",sanjeev ram kishan,indonesia,2024,trending,title: tertawan hati\ndescription: Alya dan Al...,"[-0.17595638, 0.103318535, 1.2719028, -0.13486..."

In [4]:
joined_df = df.merge(film_df[['id', 'search_text', 'embedding']], left_on='query', right_on='id', how='left')
joined_df.drop(columns=['id'], inplace=True)
joined_df['search_text'] = np.where(joined_df['query_type'] == 'search', joined_df['query'], joined_df['search_text'])

In [5]:
trial_df = joined_df[joined_df['query_type'] != 'film_id'].head()

In [6]:
trial_df['embedding'] = trial_df.progress_apply(lambda x: embedding_text(model, x['search_text']), axis=1)
trial_df

  0%|          | 0/5 [00:00<?, ?it/s]

,query,query_type,content_id,total_click,position,score,search_text,embedding
930,172 days,search,7337,119,1,1,172 days,"[-1.3019621, 1.3802083, 1.0834128, 0.4195484, ..."
1087,18 again,search,1855,355,1,1,18 again,"[-2.7144933, 1.431159, 0.736368, 0.7294179, 1...."
1416,1988,search,69,94,1,1,1988,"[-2.821161, 1.0671619, 1.245684, 1.0323439, 0...."
1423,2012,search,7752,210,1,1,2012,"[-2.009883, 1.0725511, 1.3877519, 1.3103644, 0..."
2974,3 semprul,search,710,158,1,1,3 semprul,"[-0.70724994, 0.94179726, 0.45750237, 1.845892..."

In [7]:
# slow operation
joined_df['embedding'] = joined_df.progress_apply(lambda x: embedding_text(model, x['search_text']) if x['query_type'] == 'search' else x['embedding'], axis=1)

  0%|          | 0/15709 [00:00<?, ?it/s]

In [8]:
joined_df = joined_df.dropna(subset=['search_text', 'embedding'])

In [9]:
from annoy import AnnoyIndex
annoy_index = AnnoyIndex(768, 'dot')
for index, row in film_df.iterrows():
    annoy_index.add_item(int(row['id']), row['embedding'])
annoy_index.build(30)

def retrieve_by_embedding(embedding):
    if len(embedding) > 0:
        return annoy_index.get_nns_by_vector(embedding, 20, search_k=-1)
    else:
        return []

In [10]:
trial_df['search_result'] = trial_df.progress_apply(lambda x: retrieve_by_embedding(x['embedding']), axis=1)
trial_df

  0%|          | 0/5 [00:00<?, ?it/s]

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result
930,172 days,search,7337,119,1,1,172 days,"[-1.3019621, 1.3802083, 1.0834128, 0.4195484, ...","[8117, 5638, 4703, 4841, 6001, 4882, 4773, 661..."
1087,18 again,search,1855,355,1,1,18 again,"[-2.7144933, 1.431159, 0.736368, 0.7294179, 1....","[5380, 1951, 3797, 9544, 3833, 3592, 3834, 837..."
1416,1988,search,69,94,1,1,1988,"[-2.821161, 1.0671619, 1.245684, 1.0323439, 0....","[9303, 8052, 3797, 3834, 1295, 9302, 8373, 805..."
1423,2012,search,7752,210,1,1,2012,"[-2.009883, 1.0725511, 1.3877519, 1.3103644, 0...","[3797, 3768, 3634, 3796, 3675, 3635, 3834, 383..."
2974,3 semprul,search,710,158,1,1,3 semprul,"[-0.70724994, 0.94179726, 0.45750237, 1.845892...","[2761, 1295, 6607, 1938, 8488, 5874, 4012, 121..."

In [11]:
joined_df['search_result'] = joined_df.progress_apply(lambda x: retrieve_by_embedding(x['embedding']), axis=1)

  0%|          | 0/15623 [00:00<?, ?it/s]

In [12]:
joined_df.head()

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result
0,1003,film_id,1027,93,1,3,title: hot young bloods\ndescription: Berlatar...,"[-1.3941768, -0.10611966, 1.50536, -0.19193202...","[1003, 4461, 1314, 917, 1555, 1606, 1554, 131,..."
1,1003,film_id,1559,54,2,2,title: hot young bloods\ndescription: Berlatar...,"[-1.3941768, -0.10611966, 1.50536, -0.19193202...","[1003, 4461, 1314, 917, 1555, 1606, 1554, 131,..."
2,1003,film_id,831,46,3,1,title: hot young bloods\ndescription: Berlatar...,"[-1.3941768, -0.10611966, 1.50536, -0.19193202...","[1003, 4461, 1314, 917, 1555, 1606, 1554, 131,..."
3,1011,film_id,999,5,1,3,title: the fatal encounter\ndescription: Usaha...,"[-1.2800311, 0.65853673, 0.666397, 0.33867934,...","[1011, 5000, 5475, 5274, 6118, 5650, 8821, 131..."
4,1011,film_id,2329,3,2,2,title: the fatal encounter\ndescription: Usaha...,"[-1.2800311, 0.65853673, 0.666397, 0.33867934,...","[1011, 5000, 5475, 5274, 6118, 5650, 8821, 131..."

In [13]:
def is_true_positive(row):
    return 1 if row['content_id'] in row['search_result'] else 0

In [14]:
joined_df['is_tp'] = joined_df.progress_apply(is_true_positive, axis=1)

  0%|          | 0/15623 [00:00<?, ?it/s]

In [15]:
joined_df[['is_tp']].describe()

              is_tp
count  15623.000000
mean       0.114831
std        0.318828
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [16]:
joined_df[joined_df['query'] == 'spiderman']

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result,is_tp
15537,spiderman,search,3426,240,1,3,spiderman,"[-0.16065839, 0.23628533, 0.039257906, 0.16031...","[6261, 9371, 4062, 2245, 6189, 8883, 3933, 850...",1
15538,spiderman,search,7747,152,2,2,spiderman,"[-0.16065839, 0.23628533, 0.039257906, 0.16031...","[6261, 9371, 4062, 2245, 6189, 8883, 3933, 850...",0
15539,spiderman,search,9354,134,3,1,spiderman,"[-0.16065839, 0.23628533, 0.039257906, 0.16031...","[6261, 9371, 4062, 2245, 6189, 8883, 3933, 850...",0

In [17]:
film_df[film_df['id'] == '3426']

,id,description,release_date,total_watchers,age_rating,image_portrait,content_url,image_url,title,group_l1,group_l2,genres,actors,directors,country,release_year,popularity,search_text,embedding
287,3426,Peter Parker menyeimbangkan hidupnya sebagai s...,2017-07-07,1739,13 or more,spider-man-homecoming-e4b5ed.jpg,https://www.vidio.com/premier/3426,https://thumbor.prod.vidiocdn.com/TBeIDDTwf35r...,spider-man: homecoming,movies,western,"action, adventure, comedy, fantasy, sci-fi","marisa tomei, michael keaton, robert downey jr...",jon watts,western,2017,average,title: spider-man: homecoming\ndescription: Pe...,"[-0.09195865, 0.06048768, 1.5135238, -1.38603,..."

In [ ]:
joined_df.drop(columns=['search_result', 'is_tp']).to_json('data/benchmark_indo_bert.json', orient='records', lines=True)