In [1]:
import pandas as pd
import numpy as np
from tqdm._tqdm_notebook import tqdm_notebook
from sentence_transformers import SentenceTransformer


tqdm_notebook.pandas()

model = SentenceTransformer("msmarco-distilbert-base-tas-b")

def embedding_text(model, text):
    vector = model.encode(text)
    return vector

/tmp/ipykernel_1547474/71367260.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.*` instead of `tqdm._tqdm_notebook.*`
  from tqdm._tqdm_notebook import tqdm_notebook

modules.json:   0%|          | 0.00/229 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/122 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/4.02k [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/548 [00:00<?, ?B/s]

pytorch_model.bin:   0%|          | 0.00/265M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/547 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/112 [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/190 [00:00<?, ?B/s]

In [2]:
df = pd.read_excel('data/search_ground_truth.xlsx')
df.tail()

/home/tito/.venv/genai_hackathon_2024/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                  query query_type  content_id  total_click  position  score
15704       yumis cells     search        9572           64         1      1
15705            zombie     search        1838          261         1      3
15706            zombie     search        8948          197         2      2
15707            zombie     search        2466          194         3      1
15708  zombie detective     search        1838           71         1      1

In [3]:
film_df = pd.read_json('data/film_metadata.json', lines=True)
film_df['id'] = film_df['id'].astype(str)
film_df['embedding'] = film_df.progress_apply(lambda x: embedding_text(model, x['search_text']), axis=1)
film_df.head()

  0%|          | 0/5771 [00:00<?, ?it/s]

,id,description,release_date,total_watchers,age_rating,image_portrait,content_url,image_url,title,group_l1,group_l2,genres,actors,directors,country,release_year,popularity,search_text,embedding
0,9372,Lasja mendapati suami dan ayahnya terlibat dal...,2024-01-27,393890,18 or more,ratu-adil-57125a.jpg,https://www.vidio.com/premier/9372,https://thumbor.prod.vidiocdn.com/xXSubtNx3jiO...,ratu adil,series,vidio original,"action, crime, drama","abdurrahman arif, andri mashadi, budi ros, dia...","ginanti rona, tommy dewo",indonesia,2024,trending,title: ratu adil\ndescription: Lasja mendapati...,"[-0.3976749, -0.19415374, 0.16773637, -0.41354..."
1,9456,Kehidupan sempurna Amara hancur karena malam p...,2024-01-27,340919,18 or more,cinta-pertama-ayah-66e828.jpg,https://www.vidio.com/premier/9456,https://thumbor.prod.vidiocdn.com/ZONjpNuq_CcE...,cinta pertama ayah,series,vidio original,"crime, drama, family, mystery","aisha nurra datau, al ghazali, dwi sasono, ers...",hadrah daeng ratu,indonesia,2024,trending,title: cinta pertama ayah\ndescription: Kehidu...,"[-0.33427975, 0.11309016, 0.28125244, -0.43600..."
2,7617,Menceritakan kisah seorang gadis bernama Sakin...,2023-03-13,305402,13 or more,bidadari-surgamu-2bbb68.jpg,https://www.vidio.com/premier/7617,https://thumbor.prod.vidiocdn.com/JxL1jUZmTFdc...,bidadari surgamu,series,tv sinetron,"drama, family, religi, romance","josephine firmstone, michelle joan, rizky naza...",anurag vaishnav,indonesia,2023,trending,title: bidadari surgamu\ndescription: Mencerit...,"[-0.43065453, 0.25492257, 0.029502446, -0.1452..."
3,7576,"Naura (Basmalah), Rahsya (Raden Rakha), Adara ...",2023-02-23,263464,13 or more,magic-5-def33f.jpg,https://www.vidio.com/premier/7576,https://thumbor.prod.vidiocdn.com/kha0tcadN-wD...,magic 5,series,tv sinetron,"drama, fantasy, friendship","afan da5, basmalah, eby da 5, raden rakha, sri...","a. septian, bobby moeryawan, sondang pratama, ...",indonesia,2023,trending,"title: magic 5\ndescription: Naura (Basmalah),...","[-0.3517677, 0.005433405, -0.0044757132, -0.05..."
4,9535,Alya dan Alyssa adalah anak kembar yang terpis...,2024-01-22,213724,13 or more,tertawan-hati-592778.jpg,https://www.vidio.com/premier/9535,https://thumbor.prod.vidiocdn.com/sXZL0cyvwRdI...,tertawan hati,series,tv sinetron,"drama, romance","afifah ifah'nda, jonas rivanno, naysilla mirda...",sanjeev ram kishan,indonesia,2024,trending,title: tertawan hati\ndescription: Alya dan Al...,"[-0.37663797, 0.24968487, 0.3254685, -0.219912..."

In [4]:
joined_df = df.merge(film_df[['id', 'search_text', 'embedding']], left_on='query', right_on='id', how='left')
joined_df.drop(columns=['id'], inplace=True)
joined_df['search_text'] = np.where(joined_df['query_type'] == 'search', joined_df['query'], joined_df['search_text'])

In [5]:
trial_df = joined_df[joined_df['query_type'] != 'film_id'].head()

In [6]:
trial_df['embedding'] = trial_df.progress_apply(lambda x: embedding_text(model, x['search_text']), axis=1)
trial_df

  0%|          | 0/5 [00:00<?, ?it/s]

,query,query_type,content_id,total_click,position,score,search_text,embedding
930,172 days,search,7337,119,1,1,172 days,"[0.2883174, 0.049312986, 0.4736039, -0.2060677..."
1087,18 again,search,1855,355,1,1,18 again,"[0.064030536, -0.10359356, 0.9387024, -0.17757..."
1416,1988,search,69,94,1,1,1988,"[-0.6157807, -0.050655197, -0.13253334, -0.221..."
1423,2012,search,7752,210,1,1,2012,"[-0.46670118, -0.10753627, 0.10491318, 0.08743..."
2974,3 semprul,search,710,158,1,1,3 semprul,"[-0.13133572, -0.02603232, 0.20494124, -0.1926..."

In [7]:
# slow operation
joined_df['embedding'] = joined_df.progress_apply(lambda x: embedding_text(model, x['search_text']) if x['query_type'] == 'search' else x['embedding'], axis=1)

  0%|          | 0/15709 [00:00<?, ?it/s]

In [8]:
joined_df = joined_df.dropna(subset=['search_text', 'embedding'])

In [9]:
from annoy import AnnoyIndex
annoy_index = AnnoyIndex(768, 'dot')
for index, row in film_df.iterrows():
    annoy_index.add_item(int(row['id']), row['embedding'])
annoy_index.build(30)

def retrieve_by_embedding(embedding):
    if len(embedding) > 0:
        return annoy_index.get_nns_by_vector(embedding, 20, search_k=-1)
    else:
        return []

In [10]:
trial_df['search_result'] = trial_df.progress_apply(lambda x: retrieve_by_embedding(x['embedding']), axis=1)
trial_df

  0%|          | 0/5 [00:00<?, ?it/s]

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result
930,172 days,search,7337,119,1,1,172 days,"[0.2883174, 0.049312986, 0.4736039, -0.2060677...","[9546, 5740, 6739, 9158, 2771, 6435, 8583, 619..."
1087,18 again,search,1855,355,1,1,18 again,"[0.064030536, -0.10359356, 0.9387024, -0.17757...","[3582, 5349, 7189, 8695, 3324, 1756, 9158, 713..."
1416,1988,search,69,94,1,1,1988,"[-0.6157807, -0.050655197, -0.13253334, -0.221...","[6322, 6091, 1098, 1880, 5906, 7687, 7362, 833..."
1423,2012,search,7752,210,1,1,2012,"[-0.46670118, -0.10753627, 0.10491318, 0.08743...","[9151, 1880, 640, 7131, 7362, 5325, 7687, 5435..."
2974,3 semprul,search,710,158,1,1,3 semprul,"[-0.13133572, -0.02603232, 0.20494124, -0.1926...","[9329, 1547, 5621, 5290, 535, 8069, 4056, 2428..."

In [11]:
joined_df['search_result'] = joined_df.progress_apply(lambda x: retrieve_by_embedding(x['embedding']), axis=1)

  0%|          | 0/15623 [00:00<?, ?it/s]

In [12]:
joined_df.head()

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result
0,1003,film_id,1027,93,1,3,title: hot young bloods\ndescription: Berlatar...,"[-0.27365077, -0.33196074, 0.1876485, -0.09097...","[5654, 5179, 1180, 7062, 9549, 5349, 997, 3582..."
1,1003,film_id,1559,54,2,2,title: hot young bloods\ndescription: Berlatar...,"[-0.27365077, -0.33196074, 0.1876485, -0.09097...","[5654, 5179, 1180, 7062, 9549, 5349, 997, 3582..."
2,1003,film_id,831,46,3,1,title: hot young bloods\ndescription: Berlatar...,"[-0.27365077, -0.33196074, 0.1876485, -0.09097...","[5654, 5179, 1180, 7062, 9549, 5349, 997, 3582..."
3,1011,film_id,999,5,1,3,title: the fatal encounter\ndescription: Usaha...,"[-0.46591026, -0.011001647, 0.2501304, -0.1859...","[5179, 8821, 8259, 5349, 2160, 5001, 3354, 398..."
4,1011,film_id,2329,3,2,2,title: the fatal encounter\ndescription: Usaha...,"[-0.46591026, -0.011001647, 0.2501304, -0.1859...","[5179, 8821, 8259, 5349, 2160, 5001, 3354, 398..."

In [13]:
def is_true_positive(row):
    return 1 if row['content_id'] in row['search_result'] else 0

In [14]:
joined_df['is_tp'] = joined_df.progress_apply(is_true_positive, axis=1)

  0%|          | 0/15623 [00:00<?, ?it/s]

In [15]:
joined_df[['is_tp']].describe()

              is_tp
count  15623.000000
mean       0.059464
std        0.236498
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [16]:
joined_df[joined_df['query'] == 'ratu adil']

,query,query_type,content_id,total_click,position,score,search_text,embedding,search_result,is_tp
15450,ratu adil,search,9372,2683,1,3,ratu adil,"[-0.22422272, 0.00913273, -0.12494013, -0.3123...","[7952, 736, 629, 5735, 1950, 6147, 5443, 2516,...",0
15451,ratu adil,search,1756,162,2,2,ratu adil,"[-0.22422272, 0.00913273, -0.12494013, -0.3123...","[7952, 736, 629, 5735, 1950, 6147, 5443, 2516,...",0
15452,ratu adil,search,5421,146,3,1,ratu adil,"[-0.22422272, 0.00913273, -0.12494013, -0.3123...","[7952, 736, 629, 5735, 1950, 6147, 5443, 2516,...",0

In [17]:
film_df[film_df['id'] == '3426']

,id,description,release_date,total_watchers,age_rating,image_portrait,content_url,image_url,title,group_l1,group_l2,genres,actors,directors,country,release_year,popularity,search_text,embedding
287,3426,Peter Parker menyeimbangkan hidupnya sebagai s...,2017-07-07,1739,13 or more,spider-man-homecoming-e4b5ed.jpg,https://www.vidio.com/premier/3426,https://thumbor.prod.vidiocdn.com/TBeIDDTwf35r...,spider-man: homecoming,movies,western,"action, adventure, comedy, fantasy, sci-fi","marisa tomei, michael keaton, robert downey jr...",jon watts,western,2017,average,title: spider-man: homecoming\ndescription: Pe...,"[-0.6817579, 0.06714663, 0.16371018, -0.178566..."

In [18]:
joined_df.drop(columns=['search_result', 'is_tp']).to_json('data/benchmark_mpnet.json', orient='records', lines=True)